.head{
    display: flex;
    justify-content:space-between;
    height: 88px;
    align-items:center;
    .left-icon{
        margin-left: 31px;
    }
    .right-icon{
        margin-right: 31px;
    }
    .center{
        font-size: 34px;
        color: #444444;
        font-weight:Medium
    
    }
}