.sider {
  background: #2f323a;
  flex: 0 0 220px !important;
  max-width: 220px !important;
  min-width: 220px !important;
  width: 220px !important;
  border-bottom: 2px solid #181A1E;
  div {
    display: flex;
    justify-content: space-between;
    height: 72px;
    width: 221px;
    // align-items: center;
    img:nth-of-type(1) {
      margin: 14px 0 0 20px;
      width: 100px;
      height: 42px;
    }
    img:nth-of-type(2) {
      margin: 27px 20px 0 0;
      width: 20px;
      height: 18px;
    }
  }
}
