.home {
  height: 100%;
  background: rgb(153, 10, 10);
  .content {
    background: #FBFBFB;
    height: 100%;
    // overflow-y: scroll;
    div{
      width: 100%;
      background: rgb(182, 151, 151);
      height: 100%
      // min-height: 10000px
      
    }
  }
}
