.home {
  height: 100%;

  .layout {
    height: 100%;
  }
  .sider {
    // background-color: #3ba0e9;
    background: #2f323a;
    flex: 0 0 220px !important;
    max-width: 220px !important;
    min-width: 220px !important;
    width: 220px !important;
  }

  .content {
    background: #fbfbfb;
  }

  .footer {
    background: #7dbcea;
  }
}
